.tv-desti3-sec {
	z-index: 1;
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 100%;
		max-height: 515px;
		position: absolute;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	}
	.tv-desti3-bg {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -2;
		height: 100%;
	}
}
.tv-desti3-content {
	display: flex;
	gap: 40px 80px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.tv-desti3-text {
	max-width: 475px;
}
.tv-desti3-slider-area {
	padding: 40px;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 28px;
	margin-right: -70%;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-right: 0;
	}
	@media #{$xs,$xxs} {
		padding: 20px 15px;
	}
	&:after {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		border-radius: 28px;
		border: 1px solid #FFFFFF;
		background-color: #0A0A0A14;
		backdrop-filter: blur(20px);
	}
}
.tv-desti3-items {
	max-width: 308px;
	@media #{$xs,$xxs} {
		margin: 0 auto;
	}
	.desti3-item {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.item-img {
		overflow: hidden;
		border-radius: 12px;
	}
	.item-text {
		left: 0;
		right: 0;
		width: 100%;
		bottom: 16px;
		max-width: 86%;
		margin: 0 auto;
		position: absolute;
		.desti_title {
			line-height: 1;
			font-size: 18px;
			font-weight: 500;
			overflow: hidden;
			border-radius: 7px;
			color: var(--tv-black2);
			background-color: #fff;
			a {
				padding: 14px 15px 12px;
				i {
					color: #3863FF;
					font-size: 14px;
					transition: all 300ms ease-in-out;
				}
				&:hover {
					color: #fff;
					background-color: var(--tv-base-c2);
					i {
						color: var(--tv-base-c1);
					}
				}
			}
		}
	}
}
