.tv-hero3-sec {
	z-index: 1;
	.tv-hr3-bg-shape {
		right: 0;
		left: -8%;
		z-index: 2;
		width: 110%;
		height: 100%;
		bottom: -85%;
		margin: 0 auto;
		img {
			width: 100%;
		}
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	.tv-hr3-shape1 {
		top: 23%;
		left: -20px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.tv-hero3-content {
	margin: 0 auto;
	max-width: 1920px;
	padding: 195px 0px 165px;
	@media #{$xs,$xxs} {
		padding: 160px 0px 80px;
	}
	.tv-hr3-img1 {
		right: 20%;
		z-index: 3;
		bottom: 60px;
		@media #{$xl} {
			right: 15%;
		}
		@media #{$lg} {
			right: 0;
		}
		@media #{$md} {
			right: -15%;
		}
		@media #{$sm} {
			right: -50%;
		}
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	.tv-hr3-plane {
		top: 105px;
		right: 60px;
		z-index: 4;
		@media #{$xl} {
			right: 0;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.tv-hr3-bg-img {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background-color: rgba(0, 0, 0, .80);
	}
}
.tv-hero3-text-area {
	z-index: 5;
	max-width: 900px;
	position: relative;
}
.tv-hero3-text {
	max-width: 575px;
	@media #{$xs,$xxs} {
		margin-bottom: 35px;
	}
	.hr3-slug {
		margin-bottom: 15px;
		color: var(--tv-base-c2);
		font-family: var(--tv-playball);
	}
	.hr3_title {
		color: #fff;
		line-height: 1;
		font-size: 64px;
		font-weight: 700;
		padding-bottom: 15px;
		@media #{$xxs} {
			font-size: 50px;
		}
		@media #{$xxxs} {
			font-size: 40px;
		}
		span {
			font-style: italic;
			color: var(--tv-base-c1);
		}
	}
	p {
		color: #fff;
		padding-bottom: 30px;
	}
}
.tv-booking-select {
	z-index: 2;
	position: relative;
}
.tv-booking-tab-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	.nav-tabs {
		z-index: 1;
		padding: 5px 8px;
		position: relative;
		border-radius: 100px;
		margin-bottom: -25px;
		backdrop-filter: blur(8px);
		background-color: #5252528F;
		@media #{$xxs} {
			margin-bottom: 0;
			border-radius: 15px;
		}
		.nav-link {
			color: #fff;
			font-size: 15px;
			padding: 10px 20px;
			border-radius: 100px;
			transition: all 500ms ease-in-out;
			@media #{$xxs} {
				padding: 8px 10px;
			}
			i {
				margin-right: 6px;
			}
			&:is(.active) {
				padding: 10px 20px;
				border-radius: 100px;
				background-color: #3863FF;
				@media #{$xxs} {
					padding: 8px 10px;
				}
			}
		}
	}
}
.guest-number-field {
	max-width: 90px;
	input {
		border: none;
		font-size: 15px;
		max-width: 30px;
		font-weight: 500;
	}
	.custom-prev,
	.custom-next {
		color: #fff;
		width: 18px;
		height: 18px;
		display: flex;
		font-size: 10px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 100%;
		background-color: #363539;
	}
}
.tv-hr3-img-wrap {
	bottom: 0;
	z-index: 1;
	right: 25px;
	width: 100%;
	max-width: 675px;
	position: absolute;
	@media #{$xl} {
		right: -5%;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	.item-img1 {
		bottom: 0;
		z-index: 1;
		right: -5px;
		max-width: 352px;
		position: absolute;
		img {
			max-width: 332px;
			clip-path: polygon( 79.807% 1.089%,79.807% 1.089%,80.762% 1.076%,81.687% 1.215%,82.574% 1.496%,83.409% 1.912%,84.182% 2.452%,84.883% 3.109%,85.501% 3.873%,86.025% 4.735%,86.443% 5.688%,86.745% 6.721%,98.646% 59.672%,98.646% 59.672%,98.646% 59.672%,98.671% 59.785%,98.694% 59.898%,98.715% 60.011%,98.735% 60.125%,98.754% 60.239%,98.771% 60.354%,98.786% 60.468%,98.8% 60.583%,98.812% 60.698%,98.823% 60.812%,98.823% 60.813%,98.823% 60.813%,98.851% 61.85%,98.758% 62.86%,98.549% 63.833%,98.232% 64.757%,97.812% 65.621%,97.295% 66.414%,96.688% 67.126%,95.996% 67.746%,95.227% 68.262%,94.386% 68.664%,17.707% 98.514%,17.707% 98.514%,17.134% 98.705%,16.555% 98.836%,15.972% 98.907%,15.388% 98.918%,14.808% 98.871%,14.233% 98.764%,13.668% 98.6%,13.115% 98.377%,12.578% 98.097%,12.059% 97.761%,12.059% 97.761%,11.568% 97.373%,11.114% 96.941%,10.699% 96.469%,10.325% 95.958%,9.992% 95.414%,9.704% 94.838%,9.461% 94.233%,9.265% 93.603%,9.117% 92.95%,9.021% 92.278%,1.12% 16.353%,1.106% 16.194%,1.106% 16.194%,1.075% 15.59%,1.086% 14.992%,1.138% 14.401%,1.231% 13.819%,1.363% 13.249%,1.535% 12.693%,1.746% 12.152%,1.996% 11.629%,2.283% 11.126%,2.607% 10.646%,2.607% 10.646%,2.963% 10.195%,3.346% 9.783%,3.752% 9.409%,4.181% 9.075%,4.63% 8.782%,5.099% 8.531%,5.585% 8.323%,6.087% 8.158%,6.603% 8.039%,7.13% 7.965%,7.131% 7.965%,79.807% 1.089% );
		}
		&:before {
			top: -5px;
			left: -6px;
			z-index: -1;
			width: 104%;
			height: 104%;
			content: "";
			position: absolute;
			background-color: #fff;
			clip-path: polygon( 79.807% 1.089%,79.807% 1.089%,80.762% 1.076%,81.687% 1.215%,82.574% 1.496%,83.409% 1.912%,84.182% 2.452%,84.883% 3.109%,85.501% 3.873%,86.025% 4.735%,86.443% 5.688%,86.745% 6.721%,98.646% 59.672%,98.646% 59.672%,98.646% 59.672%,98.671% 59.785%,98.694% 59.898%,98.715% 60.011%,98.735% 60.125%,98.754% 60.239%,98.771% 60.354%,98.786% 60.468%,98.8% 60.583%,98.812% 60.698%,98.823% 60.812%,98.823% 60.813%,98.823% 60.813%,98.851% 61.85%,98.758% 62.86%,98.549% 63.833%,98.232% 64.757%,97.812% 65.621%,97.295% 66.414%,96.688% 67.126%,95.996% 67.746%,95.227% 68.262%,94.386% 68.664%,17.707% 98.514%,17.707% 98.514%,17.134% 98.705%,16.555% 98.836%,15.972% 98.907%,15.388% 98.918%,14.808% 98.871%,14.233% 98.764%,13.668% 98.6%,13.115% 98.377%,12.578% 98.097%,12.059% 97.761%,12.059% 97.761%,11.568% 97.373%,11.114% 96.941%,10.699% 96.469%,10.325% 95.958%,9.992% 95.414%,9.704% 94.838%,9.461% 94.233%,9.265% 93.603%,9.117% 92.95%,9.021% 92.278%,1.12% 16.353%,1.106% 16.194%,1.106% 16.194%,1.075% 15.59%,1.086% 14.992%,1.138% 14.401%,1.231% 13.819%,1.363% 13.249%,1.535% 12.693%,1.746% 12.152%,1.996% 11.629%,2.283% 11.126%,2.607% 10.646%,2.607% 10.646%,2.963% 10.195%,3.346% 9.783%,3.752% 9.409%,4.181% 9.075%,4.63% 8.782%,5.099% 8.531%,5.585% 8.323%,6.087% 8.158%,6.603% 8.039%,7.13% 7.965%,7.131% 7.965%,79.807% 1.089% );
		}
	}
	.item-img2 {
		left: 0;
		bottom: 0;
		z-index: 1;
		max-width: 380px;
		position: absolute;
		&:before {
			top: -10px;
			left: -7px;
			z-index: -1;
			width: 104%;
			height: 105%;
			content: "";
			position: absolute;
			background-color: #fff;
			clip-path: polygon( 60.961% 2.262%,60.961% 2.262%,61.403% 1.925%,61.867% 1.632%,62.351% 1.384%,62.852% 1.183%,63.368% 1.029%,63.894% 0.922%,64.429% 0.864%,64.97% 0.855%,65.514% 0.895%,66.058% 0.986%,66.058% 0.986%,66.591% 1.126%,67.105% 1.312%,67.597% 1.543%,68.065% 1.816%,68.506% 2.13%,68.918% 2.483%,69.299% 2.873%,69.646% 3.298%,69.957% 3.757%,70.23% 4.248%,70.23% 4.248%,98.457% 60.673%,98.512% 60.79%,98.514% 60.795%,98.514% 60.795%,98.712% 61.255%,98.871% 61.724%,98.993% 62.201%,99.078% 62.685%,99.124% 63.172%,99.132% 63.662%,99.102% 64.152%,99.034% 64.641%,98.928% 65.127%,98.783% 65.608%,98.783% 65.608%,98.602% 66.075%,98.388% 66.522%,98.142% 66.946%,97.865% 67.347%,97.559% 67.723%,97.224% 68.073%,96.863% 68.396%,96.475% 68.689%,96.063% 68.952%,95.628% 69.183%,95.627% 69.183%,34.727% 98.486%,34.727% 98.486%,33.905% 98.811%,33.065% 99.008%,32.22% 99.082%,31.381% 99.034%,30.56% 98.869%,29.768% 98.589%,29.019% 98.199%,28.323% 97.701%,27.693% 97.098%,27.14% 96.394%,27.14% 96.394%,1.927% 59.147%,1.927% 59.147%,1.874% 59.066%,1.822% 58.986%,1.771% 58.904%,1.721% 58.822%,1.673% 58.74%,1.626% 58.656%,1.581% 58.573%,1.537% 58.489%,1.494% 58.404%,1.453% 58.319%,1.452% 58.317%,1.396% 58.194%,1.396% 58.194%,1.101% 57.406%,0.914% 56.601%,0.835% 55.788%,0.859% 54.979%,0.986% 54.183%,1.213% 53.409%,1.537% 52.669%,1.958% 51.973%,2.472% 51.329%,3.077% 50.749%,3.077% 50.749%,60.961% 2.262% );
		}
		img {
			max-width: 360px;
			clip-path: polygon( 60.961% 2.262%,60.961% 2.262%,61.403% 1.925%,61.867% 1.632%,62.351% 1.384%,62.852% 1.183%,63.368% 1.029%,63.894% 0.922%,64.429% 0.864%,64.97% 0.855%,65.514% 0.895%,66.058% 0.986%,66.058% 0.986%,66.591% 1.126%,67.105% 1.312%,67.597% 1.543%,68.065% 1.816%,68.506% 2.13%,68.918% 2.483%,69.299% 2.873%,69.646% 3.298%,69.957% 3.757%,70.23% 4.248%,70.23% 4.248%,98.457% 60.673%,98.512% 60.79%,98.514% 60.795%,98.514% 60.795%,98.712% 61.255%,98.871% 61.724%,98.993% 62.201%,99.078% 62.685%,99.124% 63.172%,99.132% 63.662%,99.102% 64.152%,99.034% 64.641%,98.928% 65.127%,98.783% 65.608%,98.783% 65.608%,98.602% 66.075%,98.388% 66.522%,98.142% 66.946%,97.865% 67.347%,97.559% 67.723%,97.224% 68.073%,96.863% 68.396%,96.475% 68.689%,96.063% 68.952%,95.628% 69.183%,95.627% 69.183%,34.727% 98.486%,34.727% 98.486%,33.905% 98.811%,33.065% 99.008%,32.22% 99.082%,31.381% 99.034%,30.56% 98.869%,29.768% 98.589%,29.019% 98.199%,28.323% 97.701%,27.693% 97.098%,27.14% 96.394%,27.14% 96.394%,1.927% 59.147%,1.927% 59.147%,1.874% 59.066%,1.822% 58.986%,1.771% 58.904%,1.721% 58.822%,1.673% 58.74%,1.626% 58.656%,1.581% 58.573%,1.537% 58.489%,1.494% 58.404%,1.453% 58.319%,1.452% 58.317%,1.396% 58.194%,1.396% 58.194%,1.101% 57.406%,0.914% 56.601%,0.835% 55.788%,0.859% 54.979%,0.986% 54.183%,1.213% 53.409%,1.537% 52.669%,1.958% 51.973%,2.472% 51.329%,3.077% 50.749%,3.077% 50.749%,60.961% 2.262% );
		}
	}
	.item-img3 {
		left: 0px;
		bottom: 200px;
		max-width: 510px;
		position: absolute;
		&:before {
			top: -7px;
			left: -7px;
			z-index: -1;
			width: 103%;
			height: 102%;
			content: "";
			position: absolute;
			background-color: #fff;
			clip-path: polygon( 68.197% 0.525%,68.197% 0.525%,69.369% 0.594%,70.495% 0.794%,71.565% 1.118%,72.566% 1.558%,73.487% 2.107%,74.316% 2.755%,75.042% 3.495%,75.652% 4.32%,76.136% 5.221%,76.482% 6.191%,99.036% 88.931%,99.036% 88.932%,99.036% 88.932%,99.179% 89.584%,99.253% 90.238%,99.259% 90.891%,99.198% 91.538%,99.071% 92.176%,98.878% 92.801%,98.621% 93.411%,98.3% 94.002%,97.917% 94.571%,97.472% 95.113%,97.472% 95.113%,96.972% 95.619%,96.428% 96.08%,95.843% 96.494%,95.221% 96.86%,94.565% 97.176%,93.879% 97.44%,93.167% 97.652%,92.432% 97.808%,91.678% 97.909%,90.909% 97.951%,90.909% 97.951%,9.306% 99.347%,9.127% 99.349%,8.912% 99.347%,8.912% 99.347%,8.252% 99.311%,7.602% 99.233%,6.966% 99.112%,6.345% 98.95%,5.741% 98.748%,5.157% 98.506%,4.594% 98.225%,4.056% 97.906%,3.543% 97.55%,3.059% 97.157%,3.059% 97.157%,2.597% 96.719%,2.181% 96.257%,1.811% 95.771%,1.489% 95.264%,1.216% 94.738%,0.992% 94.195%,0.819% 93.637%,0.697% 93.065%,0.627% 92.483%,0.611% 91.892%,1.987% 15.402%,1.987% 15.402%,2.091% 14.36%,2.357% 13.362%,2.774% 12.421%,3.332% 11.545%,4.019% 10.747%,4.825% 10.036%,5.739% 9.424%,6.75% 8.921%,7.847% 8.538%,9.021% 8.285%,9.213% 8.258%,66.889% 0.612%,66.889% 0.612%,66.889% 0.612%,67.019% 0.596%,67.15% 0.581%,67.281% 0.568%,67.412% 0.557%,67.543% 0.547%,67.674% 0.539%,67.805% 0.533%,67.936% 0.529%,68.066% 0.526%,68.197% 0.525% );
		}
		img {
			max-width: 490px;
			clip-path: polygon( 68.197% 0.525%,68.197% 0.525%,69.369% 0.594%,70.495% 0.794%,71.565% 1.118%,72.566% 1.558%,73.487% 2.107%,74.316% 2.755%,75.042% 3.495%,75.652% 4.32%,76.136% 5.221%,76.482% 6.191%,99.036% 88.931%,99.036% 88.932%,99.036% 88.932%,99.179% 89.584%,99.253% 90.238%,99.259% 90.891%,99.198% 91.538%,99.071% 92.176%,98.878% 92.801%,98.621% 93.411%,98.3% 94.002%,97.917% 94.571%,97.472% 95.113%,97.472% 95.113%,96.972% 95.619%,96.428% 96.08%,95.843% 96.494%,95.221% 96.86%,94.565% 97.176%,93.879% 97.44%,93.167% 97.652%,92.432% 97.808%,91.678% 97.909%,90.909% 97.951%,90.909% 97.951%,9.306% 99.347%,9.127% 99.349%,8.912% 99.347%,8.912% 99.347%,8.252% 99.311%,7.602% 99.233%,6.966% 99.112%,6.345% 98.95%,5.741% 98.748%,5.157% 98.506%,4.594% 98.225%,4.056% 97.906%,3.543% 97.55%,3.059% 97.157%,3.059% 97.157%,2.597% 96.719%,2.181% 96.257%,1.811% 95.771%,1.489% 95.264%,1.216% 94.738%,0.992% 94.195%,0.819% 93.637%,0.697% 93.065%,0.627% 92.483%,0.611% 91.892%,1.987% 15.402%,1.987% 15.402%,2.091% 14.36%,2.357% 13.362%,2.774% 12.421%,3.332% 11.545%,4.019% 10.747%,4.825% 10.036%,5.739% 9.424%,6.75% 8.921%,7.847% 8.538%,9.021% 8.285%,9.213% 8.258%,66.889% 0.612%,66.889% 0.612%,66.889% 0.612%,67.019% 0.596%,67.15% 0.581%,67.281% 0.568%,67.412% 0.557%,67.543% 0.547%,67.674% 0.539%,67.805% 0.533%,67.936% 0.529%,68.066% 0.526%,68.197% 0.525% );
		}
	}
}
.tv-hr3-cloud-wrap {
	top: 15%;
	z-index: 3;
	right: 40px;
	width: 415px;
	height: 323px;
	opacity: 0.52;
	.tv-cld2 {
		top: -10px;
		right: -10px;
		position: absolute;
	}
}