.tv-newslatter3-sec {
	z-index: 1;
	padding-bottom: 620px;
	@media #{$sm,$xs,$xxs} {
		padding-bottom: 250px;
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		content: '';
		height: 100%;
		max-height: 410px;
		position: absolute;
		background: linear-gradient(180deg, #FFFFFF 11.5%, rgba(255, 255, 255, 0) 100%);
	}
	.tv-news-bg {
		top: 0;
		left: 0;
		z-index: -2;
	}
}
.tv-newslatter3-content {
	.tv-sec-title3 {
		.sec_title {
			margin: 0 auto;
			font-size: 52px;
			max-width: 845px;
			@media #{$xl} {
				font-size: 48px;
			}
			@media #{$lg} {
				font-size: 45px;
			}
			@media #{$md,$sm} {
				font-size: 40px;
			}
			@media #{$xs} {
				font-size: 36px;
			}
			@media #{$xxs} {
				font-size: 32px;
			}
			@media #{$xxxs} {
				font-size: 30px;
			}
		}
	}
}
.tv-list-item3 {
	li {
		margin: 0px 12px;
		color: var(--tv-black-c2);
		i {
			color: #3863FF;
			margin-right: 8px;
		}
	}
}
.tv-newslatter3-form {
	form {
		gap: 8px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;	
	}
	input {
		width: 100%;
		height: 60px;
		border: none;
		max-width: 488px;
		border-radius: 6px;
		padding-left: 25px;
	}
	button {
		border: none;
		font-size: 16px;
		font-weight: 500;
		border-radius: 6px;
		padding: 18px 28px;
		color: var(--tv-black2);
		background-color: var(--tv-base-c1);
		transition: all 500ms ease-in-out;
		&:hover {
			background-color: var(--tv-base-c2);
		}
		span {
			margin-right: 8px;
		}
	}
}