.tv-testi3-sec {
	.tv-sec-title3 {
		.sec_title {
			margin: 0 auto;
		}
	}
	.tv-testi3-shape1 {
		top: 40px;
		right: -5%;
		z-index: -1;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.tv-testi3-shape3 {
		top: -70px;
		right: -5%;
		z-index: -2;
	}
	.tv-testi3-shape2 {
		top: 18%;
		left: -16%;
		z-index: -1;
	}
}
.tv-testi3-content {
	margin-left: 55px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
	}
}
.tv-testi3-item {
	gap: 30px 60px;
	.item-img {
		width: 306px;
		height: 306px;
		clip-path: polygon( 0% 25%,0% 4.575%,0% 4.575%,0.06% 3.833%,0.233% 3.129%,0.511% 2.473%,0.883% 1.873%,1.34% 1.34%,1.873% 0.883%,2.473% 0.511%,3.129% 0.233%,3.833% 0.06%,4.575% 0%,45.425% 0%,45.425% 0%,46.167% 0.06%,46.871% 0.233%,47.527% 0.511%,48.127% 0.883%,48.66% 1.34%,49.117% 1.873%,49.489% 2.473%,49.767% 3.129%,49.94% 3.833%,50% 4.575%,50% 24.99%,50% 24.99%,50.329% 20.936%,51.277% 17.091%,52.793% 13.505%,54.827% 10.231%,57.325% 7.319%,60.238% 4.821%,63.513% 2.789%,67.1% 1.274%,70.946% 0.327%,75% 0%,95.425% 0%,95.425% 0%,96.167% 0.06%,96.871% 0.233%,97.527% 0.511%,98.127% 0.883%,98.66% 1.34%,99.117% 1.873%,99.489% 2.473%,99.767% 3.129%,99.94% 3.833%,100% 4.575%,100% 45.425%,100% 45.425%,99.94% 46.167%,99.767% 46.871%,99.489% 47.527%,99.117% 48.127%,98.66% 48.66%,98.127% 49.117%,97.527% 49.489%,96.871% 49.767%,96.167% 49.94%,95.425% 50%,75% 50%,75% 50%,79.055% 50.327%,82.902% 51.275%,86.489% 52.791%,89.765% 54.824%,92.678% 57.322%,95.176% 60.235%,97.21% 63.511%,98.725% 67.098%,99.673% 70.945%,100% 75%,100% 95.425%,100% 95.425%,99.94% 96.167%,99.767% 96.871%,99.489% 97.527%,99.117% 98.127%,98.66% 98.66%,98.127% 99.117%,97.527% 99.489%,96.871% 99.767%,96.167% 99.94%,95.425% 100%,54.575% 100%,54.575% 100%,53.833% 99.94%,53.129% 99.767%,52.473% 99.489%,51.873% 99.117%,51.34% 98.66%,50.883% 98.127%,50.511% 97.527%,50.233% 96.871%,50.06% 96.167%,50% 95.425%,50% 75%,50% 75%,49.673% 79.055%,48.725% 82.902%,47.209% 86.489%,45.176% 89.765%,42.678% 92.678%,39.765% 95.176%,36.489% 97.209%,32.902% 98.725%,29.055% 99.673%,25% 100%,4.575% 100%,4.575% 100%,3.833% 99.94%,3.129% 99.767%,2.473% 99.489%,1.873% 99.117%,1.34% 98.66%,0.883% 98.127%,0.511% 97.527%,0.233% 96.871%,0.06% 96.167%,0% 95.425%,0% 54.575%,0% 54.575%,0.06% 53.833%,0.233% 53.129%,0.511% 52.473%,0.883% 51.873%,1.34% 51.34%,1.873% 50.883%,2.473% 50.511%,3.129% 50.233%,3.833% 50.06%,4.575% 50%,24.99% 50%,24.99% 50%,20.936% 49.671%,17.091% 48.723%,13.505% 47.207%,10.231% 45.173%,7.319% 42.675%,4.821% 39.762%,2.789% 36.487%,1.274% 32.9%,0.327% 29.054%,0% 25% );
	}
	.item-text {
		max-width: 715px;
		.item-rate {
			margin-bottom: 22px;
			@media #{$xs,$xxs} {
				margin-bottom: 10px;
			}
			li {
				font-size: 18px;
				margin-right: 5px;
				color: var(--tv-base-c2);
			}
		}
		.item-desc {
			font-size: 24px;
			line-height: 1.6667;
			letter-spacing: -1px;
			margin-bottom: 35px;
			color: var(--tv-black2);
			@media #{$xs,$xxs} {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}
		.item-author {
			h3 {
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 0;
				color: var(--tv-black2);
				@media #{$xs,$xxs} {
					font-size: 20px;
				}
			}
			span {
				color: #525252;
				font-size: 16px;
			}
		}
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 20px 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.tv-tst3-nav {
	top: 50%;
	right: 0;
	z-index: 3;
	width: 48px;
	height: 295px;
	position: absolute;
	transform: translateY(-50%);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		height: 48px;
		width: 295px;
		display: flex;
		margin: 0 auto;
		position: static;	
		margin-top: 30px;
		transform: translateY(0);
	}
	.tst-prev3,
	.tst-next3 {
		width: 100%;
		height: 50%;
		border: 1px solid #0303033D;
		transition: all 500ms ease-in-out;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			width: 50%;
			height: 100%;
		}
	}
	.tst-prev3 {
		color: #fff;
		border-top-right-radius: 12px;
		background-color: var(--tv-black2);
		&:hover {
			color: #fff;
			background-color: var(--tv-base-c2) !important;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			border-top-left-radius: 12px;
			border-top-right-radius: 0;
		}
	}
	.tst-next3 {
		border-bottom-right-radius: 12px;
		&:hover{
			color: #fff;
			background-color: var(--tv-black2);
		}
	}
}