.tv-tour-sec {
	z-index: 1;
	background-color: #F6EFE6;
	@media #{$md,$sm,$xs,$xxs} {
		padding-bottom: 80px;
	}
	.tv-tour-shape1 {
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		img {
			width: 100%;
		}
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.tv-sec-title3 {
		.sec_title {
			font-size: 48px;
			font-weight: 900;
			@media #{$xl} {
				font-size: 45px;
			}
			@media #{$lg} {
				font-size: 42px;
			}
			@media #{$md,$sm} {
				font-size: 38px;
			}
			@media #{$xs} {
				font-size: 35px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
	}
}

.tv-tour-item-wrap {
	padding: 40px 35px;
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 0px 0px 28px 0px #03030314;
	@media #{$lg} {
		padding: 30px 20px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		margin-bottom: 30px;
	}
	.tv-item-title {
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 20px;
		color: var(--tv-black2);
		font-family: var(--tv-wulkan);
	}
}
.tv-tour-item {
	gap: 20px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed rgba(10, 10, 10, .2);
	@media #{$xxs} {
		flex-wrap: wrap;
	}
	&:last-child {
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.item-img {
		width: 100px;
		height: 90px;
		overflow: hidden;
		border-radius: 6px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		max-width: 228px;
		@media #{$xxs} {
			max-width: 100%;
		}
		h3 {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 0;
			line-height: 1.375;
			padding-bottom: 10px;
			color: var(--tv-black2);
		}
		p {
			color: #525252;
			font-size: 16px;
			span {
				font-weight: 600;
				color: var(--tv-black2);
			}
			del {
				margin-left: 10px;
			}
		}
		&:is(.ver_2) {
			p {
				span {
					color: var(--tv-base-c2);
				}
			}
		}
	}
	&:hover {
		.item-img {
			img {
				filter: grayscale(1);
				transform: scale(1.1);
			}
		}
	}
}
.tv-tour-img {
	overflow: hidden;
	max-height: 524px;
	border-radius: 12px;
	box-shadow: 0px 0px 28px 0px rgba(3, 3, 3, 0.08);
	@media #{$md,$sm,$xs,$xxs} {
		height: auto;
		margin-bottom: 30px;
	}

}