@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 20px;
	margin: 0 auto;
	position: relative;
	line-height: 1.4;
	overflow-x: hidden;
	color: var(--tv-body-c1);
	font-family: var(--tv-barlow);
	background-color: #fff;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 
	
	.row {
		--bs-gutter-x: 32px;
	}
	.mfp-iframe-holder .mfp-close {
		right: 0;
		padding: 0;
		top: -40px;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
	button.mfp-close {
		right: 0;
		padding: 0;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
}
/*Home Reset area*/
/*-------------------------*/
.home-1 {
	.container {
		max-width: 1590px;
	}
}
.home-2 {
	font-size: 18px;
	font-family: var(--tv-urbanist);
	.container {
		max-width: 1426px;
	}
	.tv-scrollup {
		font-size: 14px;
	}
}
.home-3 {
	font-size: 18px;
	line-height: 1.5;
	font-family: var(--tv-dm);
	color: var(--tv-body-c2);
	.container {
		max-width: 1346px;
	}
	.tv-scrollup {
		color: #fff;
		font-size: 14px;
		background-color: var(--tv-base-c2);
	}
}
/*Reset area*/
/*-------------------------*/
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}

.headline-1 h1,
.headline-1 h2,
.headline-1 h3,
.headline-1 h4,
.headline-1 h5,
.headline-1 h6 {
	line-height: 1;
	font-weight: 400;
	margin-bottom: 0;
	color: var(--tv-black);
	font-family: var(--tv-barlow);
}
.headline-2 h1,
.headline-2 h2,
.headline-2 h3,
.headline-2 h4,
.headline-2 h5,
.headline-2 h6 {
	line-height: 1;
	font-weight: 400;
	margin-bottom: 0;
	color: var(--tv-black);
	font-family: var(--tv-tondu);
}
.headline-3 h1,
.headline-3 h2,
.headline-3 h3,
.headline-3 h4,
.headline-3 h5,
.headline-3 h6 {
	line-height: 1;
	font-weight: 400;
	margin-bottom: 0;
	color: var(--tv-black2);
	font-family: var(--tv-wulkan);
}
@keyframes loading {
	0% {
		max-height: 0;
	}
}
@keyframes hithere {
	30% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	40%, 60% {
		-webkit-transform: rotate(-5deg) scale(1.2);
		transform: rotate(-5deg) scale(1.2);
	}
	50% {
		-webkit-transform: rotate(5deg) scale(1.2);
		transform: rotate(5deg) scale(1.2);
	}
	70% {
		-webkit-transform: rotate(0deg) scale(1.2);
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background-color: #fff;
	.preloader-logo {
		left: 0;
		top: 50%;
		right: 0;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		h2 {
			font-size: 50px;
			font-weight: 800;
			position: relative;
			letter-spacing: 10px;
			animation: hithere 1s ease infinite;
			&::before {
				content: attr(data-text);
				position: absolute;
				max-height: 100%;
				white-space: nowrap;
				overflow: hidden;
				color: var(--tv-base-c1);
				-webkit-animation: loading 3s linear infinite;
				animation: loading 3s linear infinite;
				font-family: var(--title-font);
			}
		}
	}
}

[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
a, span {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: none;
	transition: inherit;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.form-control {
	box-shadow: none;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
}
.splitting.animated .char {
	-webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(30ms * var(--char-index));
	animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
	width: 10px;
}
.href-underline {
	a {
		width: 100%;
		display: inline !important;
		background-position-y: -1px;
		background-repeat: no-repeat;
		background-size: 0 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
		-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover {
			color: inherit;
			background-size: 100% 100%;
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	display: flex;
}
.over-hidden {
	overflow: hidden;
}
.tx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
	.nav {
		display: inherit;
	}
}
.img-cover {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
	}
	video {
		width: 100%;
		height: 100% !important;
		object-fit: cover; 
	}
}
.tv-scrollup {
	width: 65px;
	right: 20px;
	z-index: 5;
	height: 45px;
	bottom: 20px;
	display: none;
	font-size: 18px;
	position: fixed;
	font-weight: 700;
	line-height: 65px;
	background-color: var(--tv-base-c1);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	i {
		color: var(--tv-black);
	}
}
.split-line {
	overflow: hidden;
}
@keyframes vt-spin {
	50% {
		-webkit-transform: scaleX(0) rotate(5deg);
		transform: scaleX(0) rotate(5deg);
	}
}
/*Button area*/
/*-------------------------*/
.tv-btn1 {
	a {
		font-size: 17px;
		font-weight: 800;
		padding: 16px 35px;
		border-radius: 5px;
		color: var(--tv-black);
		background-color: var(--tv-base-c1);
		span {
			margin: 0px .3px;
			display: inline-block;
			pointer-events: none;
			&.vt-spin {
				-webkit-animation: vt-spin .5s 1;
				-khtml-animation: vt-spin .5s 1;
				-moz-animation: vt-spin .5s 1;
				-ms-animation: vt-spin .5s 1;
				-o-animation: vt-spin .5s 1;
				animation: vt-spin .5s 1;
				-webkit-transform-origin: bottom;
				transform-origin: bottom
			}
		}
		&:hover {
			color: #fff;
			background-color: var(--tv-black);
		}
	}
}

.tv-btn2 {
	a {
		font-size: 14px;
		border-radius: 100px;
		color: var(--tv-black);
		padding: 20px 40px 16px;
		font-family: var(--tv-tondu);
		background-color: var(--tv-base-c1);
		i {
			margin-left: 10px;
		}
	}
}
@keyframes toLeftFromRight {
	49% {
		-webkit-transform: translateY(20%);
		transform: translateY(20%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
	}
	51% {
		opacity: 1;
	}
}
.tv-btn3 {
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			z-index: 1;
			font-size: 16px;
			font-weight: 600;
			position: relative;
			transition: all .3s;
			border-radius: 120px;
			white-space: nowrap;
			color: var(--tv-black2);
			padding: 16px 30px 16px 30px;
			background-color: var(--tv-base-c1);
			transition: all 500ms ease-in-out;
			b {
				font-weight: 600;
				display: inline-block;
			}
		}
		i {
			z-index: 1;
			padding: 20px;
			font-size: 16px;
			border-radius: 100%;
			transition: all .3s;
			color: var(--tv-base-c1);
			background-color: var(--tv-black2);
		}
		>*:nth-child(1) {
			transform: scale3d(1, 1, 1);
		}
		>*:nth-child(2) {
			transform: scale3d(1, 1, 1) rotate(-45deg);
			margin-inline-end: -45px;
		}
		&:hover {
			span {
				color: #fff;
				padding: 16px 60px 16px 30px;
				background-color: var(--tv-base-c2);
				b {
					animation: toLeftFromRight 0.5s forwards;
				} 
			}
			>*:nth-child(1) {
				transform: scale3d(1, 1, 1);
				margin-inline-end: -45px;
			}
			>*:nth-child(2) {
				transform: scale3d(.8, .8, .8) rotate(0) translateX(-13px);
				margin-inline-end: 0;
			}
		}
	}
}
/*Section Title area*/
/*-------------------------*/
.tv-sec-title1 {
	.subtitle {
		line-height: 1;
		font-size: 35px;
		color: var(--tv-black);
		font-family: var(--tv-just);
		.split-line {
			padding-bottom: 5px;
		}
	}
	.sec_title {
		font-size: 60px;
		font-weight: 800;
		line-height: 1.2;
		color: var(--tv-black);
		@media #{$xl} {
			font-size: 56px;
		}
		@media #{$lg} {
			font-size: 50px;
		}
		@media #{$md,$sm} {
			font-size: 45px;
		}
		@media #{$xs} {
			font-size: 40px;
		}
		@media #{$xxs} {
			font-size: 32px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
	}
	p {
		padding-top: 20px;
	}
}
.tv-sec-title2 {
	.subtitle {
		span {
			font-size: 42px;
			color: var(--tv-black);
			font-family: var(--tv-just);
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
				margin-bottom: 10px;
			}
			i {
				margin-right: 10px;
			}
		}
	}
	.sec_title {
		font-size: 55px;
		color: var(--tv-black);
		@media #{$xl} {
			font-size: 50px;
		}
		@media #{$lg} {
			font-size: 45px;
		}
		@media #{$md,$sm} {
			font-size: 40px;
		}
		@media #{$xs} {
			font-size: 35px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 28px;
		}
	}
}
.tv-sec-title3 {
	.subtitle {
		font-size: 20px;
		margin-bottom: 10px;
		color: var(--tv-base-c2);
		font-family: var(--tv-playball);
	}
	.sec_title {
		line-height: 1;
		font-size: 44px;
		font-weight: 700;
		max-width: 650px;
		span {
			color: #868686;
			display: inline;
			font-style: italic;
		}
		@media #{$xl} {
			font-size: 40px;
		}
		@media #{$lg} {
			font-size: 38px;
		}
		@media #{$md,$sm} {
			font-size: 36px;
		}
		@media #{$xs} {
			font-size: 32px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 28px;
		}
	}
	p {
		padding-top: 18px;
	}
}

/*==========================*/
/*-------------------------*/

.cb-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	contain: layout style size;
	pointer-events: none;
	will-change: transform;
	-webkit-transition: opacity 0.3s, color 0.4s;
	transition: opacity 0.3s, color 0.4s;
}

.cb-cursor:before {
	content: "";
	position: absolute;
	top: -24px;
	left: -24px;
	display: block;
	width: 48px;
	height: 48px;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	background: var(--tv-base-c1);
	border-radius: 50%;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, opacity 0.1s;
	transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out;
}

.cb-cursor-text {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 36px;
	height: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: scale(0) rotate(10deg);
	transform: scale(0) rotate(10deg);
	opacity: 0;
	font-weight: 700;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.01em;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
	transition: opacity 0.4s, -webkit-transform 0.3s;
	transition: opacity 0.4s, transform 0.3s;
	transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion,
	.cb-cursor.-opaque {
		mix-blend-mode: exclusion;
	}
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion:before,
	.cb-cursor.-opaque:before {
		background: white;
	}
}
.cb-cursor.-normal,
.cb-cursor.-text {
	mix-blend-mode: normal;
}

.cb-cursor.-normal:before,
.cb-cursor.-text:before {
	background: var(--tv-base-c1);
}

.cb-cursor.-inverse {
	color: white;
}

.cb-cursor.-visible:before {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cb-cursor.-visible.-active:before {
	-webkit-transform: scale(0.23);
	transform: scale(0.23);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.cb-cursor.-pointer:before {
	-webkit-transform: scale(0.15);
	transform: scale(0.15);
}

.cb-cursor.-text:before {
	opacity: 1;
	-webkit-transform: scale(1.7);
	transform: scale(1.7);
}

.cb-cursor.-text .cb-cursor-text {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.cb-cursor.-text.-active:before {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.cb-cursor.-opaque:before {
	-webkit-transform: scale(1.32);
	transform: scale(1.32);
}

.cb-cursor.-opaque.-active:before {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.cb-cursor.-lg:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cb-cursor.-hidden:before {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.home-3 {
	.cb-cursor:before {
		width: 60px;
		height: 60px;
		background: #0A0A0A1F;
		backdrop-filter: blur(16px); 
	}
	.cb-cursor.-normal:before,
	.cb-cursor.-text:before {
		background: #0A0A0A1F;
		backdrop-filter: blur(16px);
	}
	.cb-cursor-text {
		width: 48px;
		height: 48px;
		font-size: 14px;
		&:after,
		&:before {
			top: 50%;
			right: -6px;
			color: #0A0A0A;
			content: '\f054';
			font-weight: 900;
			position: absolute;
			font-family: 'Font Awesome 6 Free';
			transform: translateY(-50%);
		}
		&:before {
			left: -6px;
			right: auto;
			content: '\f053';
		}
	}
}
// txa-common-css-start

@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}
