.tv-cta2-sec {
	z-index: 1;
	@media #{$lg,$md} {
		padding-top: 100px;
		padding-bottom: 250px;
	}
	@media #{$sm,$xs,$xxs} {
		padding-top: 80px;
		padding-bottom: 120px;
	}
	.tv-cta2-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.tv-cta2-shape {
		right: 5%;
		z-index: -1;
		bottom: -5px;
	}
}
.tv-cta2-content {
	gap: 30px 40px;
	padding-right: 120px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		padding-right: 0;
		justify-content: center;
	}
}
.tv-cta2-text {
	padding-top: 110px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding-top: 0;
	}
	h3 {
		font-size: 80px;
		color: var(--tv-base-c1);
		@media #{$sm} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
	h2 {
		font-size: 80px;
		margin-top: 10px;
		color: var(--tv-black);
		@media #{$sm} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 35px;
		}
	}
	p {
		color: #fff;
		font-size: 22px;
		max-width: 415px;
		padding-top: 5px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
.tv-cta2-img-wrap {
	margin-top: -150px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 40px;
	}
	.inner-img {
		border: 10px solid #fff;
	}
}
.tv-cta2-img-wrap {
	max-width: 760px;
	@media #{$sm,$xs,$xxs} {
		margin: 0 auto;
	}
	.item-img1 {
		display: inline-block;
		transform: rotate(6deg);
		@media #{$sm,$xs,$xxs} {
			transform: rotate(0);
			margin-bottom: 30px;
		}
	}
	.item-img2 {
		right: -145px;
		bottom: -190px;
		position: absolute;
		transform: rotate(-15deg);
		@media #{$sm,$xs,$xxs} {
			position: static;
			transform: rotate(0);
			margin-bottom: 30px;
		}
	}
	.item-img3 {
		left: 23px;
		bottom: -31%;
		position: absolute;
		transform: rotate(28deg);
		@media #{$sm,$xs,$xxs} {
			position: static;
			transform: rotate(0);
		}
	}
}

.tv-cta4-content {
	overflow: hidden;
	border-radius: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.tv-cta4-text {
	width: 50%;
	padding: 105px 90px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding: 60px 40px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		width: 100%;
	}
	.tv-sec-title2 {
		.subtitle {
			span {
				color: #fff;
			}
		}
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
			padding-top: 18px;
		}
	}
}
.tv-cta4-list {
	li {
		color: #fff;
		display: flex;
		font-size: 18px;
		font-weight: 800;
		align-items: center;
		margin-right: 40px;
		margin-bottom: 8px;
		&:last-child {
			margin-right: 0;
		}
		i {
			color: #175f71;
			font-size: 25px;
			margin-right: 8px;
		}
	}
}
.tv-cta4-img {
	width: 50%;
	@media #{$md,$sm,$xs,$xxs} {
		width: 100%;
	}
	span {
		top: 50%;
		color: #fff;
		left: -18px;
		font-weight: 600;
		position: absolute;
		padding: 40px 5px;
		border-radius: 40px;
		white-space: nowrap;
		writing-mode: vertical-rl;
		background-color: #000000;
		transform: translateY(-50%);
		@media #{$md,$sm,$xs,$xxs} {
			left: 20px;
		}
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	.item-play {
		left: 0;
		right: 0;
		top: 50%;
		width: 140px;
		height: 140px;
		margin: 0 auto;
		position: absolute;
		transform: translateY(-50%);
	}
}