.tv-hero2-item {
	z-index: 1;
	padding-top: 280px;
	padding-bottom: 120px;
	@media #{$xxs} {
		padding-top: 180px;
		padding-bottom: 80px;
	}
	.tv-hero2-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
.tv-hr2-img-text {
	gap: 40px 30px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column-reverse;
		justify-content: center !important;
	}
}
.tv-hr2-img-wrap {
	z-index: 1;
	max-width: 825px;
	.item-img1 {
		overflow: hidden;
		max-width: 650px;
		margin-left: 162px;
		margin-bottom: 20px;
		border: 10px solid #fff;
		box-shadow: 0px 11px 79px 0px rgba(0, 66, 116, 0.004);
		transform: skew(-12deg);
		@media #{$sm,$xs,$xxs} {
			transform: skew(0deg);
			margin-left: 0;
		}
		.inner-img {
			transform: skew(12deg) scale(1.1);
			@media #{$sm,$xs,$xxs} {
				transform: skew(0deg);
			}
		}
	}
	.item-img2 {
		overflow: hidden;
		max-width: 655px;
		border: 10px solid #fff;
		transform: skew(-12deg);
		box-shadow: 0px 11px 79px 0px rgba(0, 66, 116, 0.004); 
		@media #{$sm,$xs,$xxs} {
			transform: skew(0deg);
		}
		.inner-img {
			transform: skew(12deg) scale(1.1);
			@media #{$sm,$xs,$xxs} {
				transform: skew(0deg);
			}
		}
	}
	.line-img {
		top: -15px;
		left: 35px;
		z-index: -1;
		width: 80px;
		height: 100%;
		position: absolute;
		transform: rotate(12deg);
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
		.inner-img {
			width: 100%;
			height: 100%;
		}
	}
	.line_shape1 {
		top: 170px;
		left: 12px;
		width: 76px;
		z-index: -2;
		height: 255px;
		transform: rotate(12deg);
		background-color: var(--tv-base-c1);
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.line_shape2 {
		top: 15px;
		left: 30px;
		width: 26px;
		z-index: -2;
		height: 255px;
		transform: rotate(12deg);
		border: 2px solid #fff;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.line_shape3 {
		right: 140px;
		bottom: 0;
		width: 20px;
		height: 106px;
		position: absolute;
		transform: rotate(10deg);
		border: 2px solid #fff;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.line_shape4 {
		right: 140px;
		width: 20px;
		z-index: -2;
		bottom: 50px;
		height: 106px;
		position: absolute;
		transform: rotate(11deg);
		background-color: var(--tv-base-c1);
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.tv-discount-text {
	top: 288px;
	right: 56px;
	z-index: 1;
	position: absolute;
	padding: 20px 40px 15px;
	@media #{$xl} {
		top: 278px;
	}
	@media #{$sm,$xs,$xxs} {
		left: 0;
		right: auto;
		padding: 15px 20px 15px;
	}
	@media #{$xs,$xxs} {
		position: static;
		background-color: var(--tv-base-c1);
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		transform: skew(-10deg);
		background-color: var(--tv-base-c1);
		@media #{$sm,$xs,$xxs} {
			transform: skew(0);
		}
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	h4 {
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 12px;
		padding-bottom: 10px;
		font-style: italic;
		color: var(--tv-black);
		font-family: var(--tv-monts);
		@media #{$xxs} {
			font-size: 20px;
		}
	}
	h3 {
		font-size: 60px;
		color: var(--tv-black);
		span {
			font-size: 26px;
			margin-left: 15px;
			font-weight: 300;
			letter-spacing: 5px;
			font-family: var(--tv-monts);
			@media #{$xxs} {
				font-size: 18px;
				letter-spacing: 2px;
			}
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
}
.tv-hr2-text {
	max-width: 460px;
	padding-top: 25px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding-top: 0;
	}
	h2 {
		font-size: 58px;
		font-weight: 900;
		margin-left: 40px;
		font-style: italic;
		color: var(--tv-base-c1);
		font-family: var(--tv-monts);
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			margin-left: 0;
		}
	}
	h3 {
		color: #fff;
		font-size: 40px;
		margin-left: 105px;
		font-style: italic;
		letter-spacing: 22px;
		margin-bottom: -25px;
		font-family: var(--tv-monts);
		text-transform: uppercase;
		@media #{$xxs} {
			font-size: 24px;
			letter-spacing: 15px;
		}
		@media #{$xxxs} {
			margin-left: 0;
			margin-bottom: 15px;
		}
	}
	h1 {
		line-height: 1;
		display: flex;
		flex-wrap: wrap;
		font-size: 150px;	
		color: var(--tv-base-c1);
		justify-content: center;
		font-style: italic;
		@media #{$xxs} {
			font-size: 115px;
		}
		@media #{$xxxs} {
			font-size: 85px;
		}
		.line_2 {
			color: #fff;
			font-size: 105px;
			margin-top: -20px;
			text-transform: uppercase;
			@media #{$xxs} {
				font-size: 76px;
			}
			@media #{$xxxs} {
				margin-top: 0;
				font-size: 65px;
			}
		}
	}
	h4 {
		color: #fff;
		font-size: 21px;
		font-weight: 600;
		margin-top: -15px;
		font-style: italic;
		letter-spacing: 11px;
		text-transform: uppercase;
		font-family: var(--tv-monts);
		@media #{$xxs} {
			margin-top: 0;
			font-size: 18px;
			letter-spacing: 8px;
		}
	}
	p {
		color: #fff;
		margin: 0 auto;
		max-width: 395px;
		padding-top: 15px;
		padding-bottom: 45px;
	}
	.tv-hr2-btn {
		a {
			border-radius: 100px;
			padding: 18px 40px 14px;
			font-family: var(--tv-tondu);
			background-color: var(--tv-base-c1);
			i {
				margin-left: 10px;
			}
		}
	}
}