.tv-journey-sec {
	.tv-sec-title2 {
		margin: 0 auto;
		max-width: 620px;
	}
}
.tv-journey-item {
	gap: 30px;
	z-index: 1;
	padding: 25px;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	margin-bottom: 30px;
	border: 2px solid #e9f6f9;
	@media #{$lg} {
		gap: 30px 15px;
	}
	@media #{$xxs} {
		flex-wrap: wrap;
	}
	&:before,
	&:after {
		left: 0;
		width: 100%;
		height: 2px;
		content: '';
		z-index: -1;
		bottom: 55px;
		position: absolute;
		background-color: #e9f6f9;
		transition: all 500ms ease-in-out;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	&:after {
		bottom: 0;
		height: 0px;
		background-color: var(--tv-base-c1);
	}
	.item-img {
		width: 100%;
		height: 140px;
		max-width: 140px;
		overflow: hidden;
		border-radius: 15px;
	}
	.item-text {
		width: 100%;
		max-width: 230px;
		.tv-rate {
			font-size: 22px;
			font-weight: 800;
			margin-bottom: 13px;
			color: var(--tv-black);
			@media #{$lg} {
				margin-bottom: 8px;
			}
		}
		h3 {
			font-size: 23px;
			padding-bottom: 35px;
			@media #{$lg} {
				font-size: 18px;
				padding-bottom: 20px;
			}
		}
		.trip-btn {
			gap: 15px;
			width: 100%;
			line-height: 1;
			font-size: 16px;
			font-weight: 800;
			margin-bottom: -30px;
			@media #{$xl} {
				margin-bottom: -15px;
			}
			@media #{$md,$sm,$xs,$xxs} {
				margin-bottom: 0px;
			}
			span {
				i {
					margin-right: 8px;
				}
			} 
			b {
				i {
					width: 32px;
					height: 32px;
					display: flex;
					font-size: 14px;
					align-items: center;
					border-radius: 100%;
					justify-content: center;
					background-color: #e9f6f9;
					transition: all 500ms ease-in-out;
				}
			}
		}
	}
	&:hover {
		&:after {
			height: 60px;
		}
		.item-text {
			.trip-btn {
				b {
					i {
						background-color: #e5c102;
					}
				}
			}
		}
	}
}