.tv-team2-item {
	z-index: 1;
	margin: 0 auto;
	max-width: 332px;
	max-height: 440px;
	padding-bottom: 35px;
	transform: translateY(110px);
	transition: all 500ms ease-in-out;
	&:before {
		bottom: 0;
		content: '';
		z-index: -1;
		width: 100%;
		height: 0%;
		max-height: 340px;
		position: absolute;
		border-radius: 60px;
		background-color: #ffede7;
		transition: all 500ms ease-in-out;
	}
	.item-social {
		top: 60%;
		right: 20px;
		position: absolute;
		transform: translateY(-50%);
		a {
			opacity: 0;
			display: block;
			margin: 12px 0px;
			transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
			transform: translateX(10px);
		}
	}
	.item-img {
		margin: 0 auto;
		max-width: 332px;
		margin-bottom: 25px;
	}
	.item-text {
		opacity: 0;
		visibility: hidden;
		transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
		h3 {
			padding-bottom: 5px;
		}
	}
}
.swiper-slide-active {
	.tv-team2-item {
		max-width: 500px;
		max-height: 100%;
		transform: translateY(0px);
		&:before {
			height: 100%;
			transition-delay: 500ms;
		}
		.item-social {
			a {
				opacity: 1;
				transform: translateX(0px);
				&:nth-child(1) {
					transition-delay: 100ms;
				}
				&:nth-child(2) {
					transition-delay: 200ms;
				}
				&:nth-child(3) {
					transition-delay: 300ms;
				}
				&:nth-child(4) {
					transition-delay: 400ms;
				}
			}
		}
		.item-text {
			opacity: 1;
			visibility: visible;
		}
	}
}
.tv-team2-nav {
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 15px;
		display: flex;
		justify-content: center;
	}
	.arrow-nav {
		top: 60%;
		color: #fff;
		width: 60px;
		height: 60px;
		z-index: 2;
		position: absolute;
		border-radius: 100%;
		background-color: #2d1a15;
		transform: translateY(-50%);
		transition: all 500ms ease-in-out;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			position: static;
			margin-top: 40px;
			transform: translateY(0%);
		}
		&:hover {
			color: var(--tv-black);
			background-color: var(--tv-base-c1);
		}
	}
	.team2-prev {
		left: -8%;
		@media #{$xxxl,$xxl} {
			left: -2%;
		}
	}
	.team2-next {
		right: -8%;
		@media #{$xxxl,$xxl} {
			right: -2%;
		}
	}
}