.tv-testi2-content {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 50px;
	}
}
.tv-testi2-item {
	z-index: 1;
	position: relative;
	padding: 220px 100px 40px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding: 50px 30px 50px 80px;
	}
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		content: '';
		max-height: 370px;
		position: absolute;
		border-radius: 20px;
		background-color: #fffaf0;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-height: 100%;
		}
	}
	.item-text {
		max-width: 655px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
		p {
			opacity: 0;
			visibility: hidden;
			font-size: 30px;
			font-weight: 700;
			font-style: italic;
			line-height: 1.667;
			color: var(--tv-black);
			position: relative;
			transform: translateY(50px);
			transition: 1500ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
			@media #{$xs,$xxs} {
				font-size: 20px;
			}
			&:before {
				top: -30px;
				left: -55px;
				font-size: 50px;
				font-weight: 900;
				content: '\f10d';
				font-style: normal;
				position: absolute;
				font-family: 'Font Awesome 6 Free';
			}
		}
		.item-rate {
			opacity: 0;
			visibility: hidden;
			transform: translateY(50px);
			transition: 1500ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
			li {
				color: #252333;
				font-size: 18px;
			}
			h3 {
				display: flex;
				color: #252333;
				font-size: 20px;
				margin-bottom: 0;
				font-weight: 800;
				margin-top: 10px;
				align-items: center;
				@media #{$xxs} {
					gap: 10px;
					flex-wrap: wrap;
				}
				span {
					font-size: 14px;
					margin-left: 30px;
					letter-spacing: 2px;
					position: relative;
					text-transform: uppercase;
					&:before {
						top: 6px;
						left: -18px;
						width: 10px;
						height: 2px;
						content: '';
						position: absolute;
						background-color: #252333;
					}
				}
			}
		}
	}
	.item-img {
		top: 0;
		opacity: 0;
		right: 100px;
		position: absolute;
		visibility: hidden;
		transform: translateX(100%);
		transition: 1500ms cubic-bezier(0.5, -0.25, 0.3, 1.5);
		@media #{$xl} {
			right: 15px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.swiper-slide-active {
	.tv-testi2-item {
		.item-text {
			p {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
		}
		.item-rate {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			transition-delay: 200ms;
		}
		.item-img {
			opacity: 1;
			visibility: visible;
			transform: translateY(0%);
		}
	}
}
.tv-tst2-nav {
	left: 0;
	gap: 20px;
	right: 0;
	z-index: 2;
	bottom: 30px;
	position: absolute;
	justify-content: center;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 40px;
		position: static;
	}
	.arrow-nav {
		width: 60px;
		height: 60px;
		color: #fff;
		border-radius: 100%;
		background-color: #000000;
		transition: all 500ms ease-in-out;
		&:hover {
			color: var(--tv-black);
			background-color: var(--tv-base-c1);
		}
	}
}